p {
  margin-bottom: 0 !important; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; }

.titulo, .principal .header-cont .linha .topico1 p {
  font-size: 24px;
  line-height: 24px;
  color: #ED686B;
  text-transform: uppercase; }
  @media (min-width: 1800px) {
    .titulo, .principal .header-cont .linha .topico1 p {
      font-size: 28px; } }

.principal {
  padding-left: 10%;
  padding-top: 3%; }
  .principal .forma {
    background: #707070;
    width: 57%;
    position: absolute;
    left: 0;
    top: 0;
    height: 60vh; }
  .principal .header-cont {
    background: #333333;
    padding: 1% 0%;
    border-radius: 8px;
    position: relative;
    margin: 0% 11% 0% 6%;
    margin-bottom: -2%;
    z-index: 10; }
    .principal .header-cont .linha {
      display: flex;
      align-items: center; }
      .principal .header-cont .linha .topico1 {
        width: 74%;
        padding-left: 1.5%; }
        @media (min-width: 1800px) {
          .principal .header-cont .linha .topico1 {
            width: 82%; } }
      .principal .header-cont .linha .topico2 {
        width: 13%;
        text-align: center; }
        @media (min-width: 1800px) {
          .principal .header-cont .linha .topico2 {
            width: 9%; } }
        .principal .header-cont .linha .topico2 .botao button {
          width: 100%;
          background: transparent;
          color: white;
          border: 1px solid white;
          font-size: 14px;
          padding: 10% 0%;
          border-radius: 8px;
          text-transform: uppercase;
          transition: .5s;
          opacity: .5; }
          .principal .header-cont .linha .topico2 .botao button:hover {
            opacity: 1; }
      .principal .header-cont .linha .topico3 {
        width: 13%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center; }
        @media (min-width: 1800px) {
          .principal .header-cont .linha .topico3 {
            width: 9%; } }
        .principal .header-cont .linha .topico3 .arrows {
          display: block;
          width: 48px;
          height: 48px;
          margin: 1%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          background: #000000;
          color: white;
          opacity: .5;
          transition: .5s;
          cursor: pointer; }
          .principal .header-cont .linha .topico3 .arrows:hover {
            opacity: 1; }
  .principal .conteudo {
    padding: 4% 10.3% 1% 6%;
    position: relative;
    background: #222222;
    border-radius: 8px 0px 0px 8px;
    position: relative;
    color: white; }
    .principal .conteudo .container {
      max-width: 100%; }
      .principal .conteudo .container .slides {
        display: flex;
        flex-direction: row;
        justify-content: center;
        box-sizing: border-box;
        position: relative; }
        .principal .conteudo .container .slides .slick-track {
          position: relative; }
        .principal .conteudo .container .slides .thumb-prev,
        .principal .conteudo .container .slides .thumb-next {
          bottom: 12px !important;
          right: calc(9% + 0.75em) !important; }
        .principal .conteudo .container .slides .thumb-prev {
          right: calc(0% + 0.75em) !important; }
        .principal .conteudo .container .slides .posts {
          width: 70%; }
        .principal .conteudo .container .slides .posts-nav {
          width: 29%;
          margin-left: 2%;
          margin-top: -2px; }
          .principal .conteudo .container .slides .posts-nav .item-slide {
            height: 31.5vh;
            margin-bottom: 6%;
            transition: all 0.3s ease;
            cursor: pointer;
            background: #333333;
            border: none;
            border-radius: 0px 0px 6px 6px; }
            @media (min-width: 1800px) {
              .principal .conteudo .container .slides .posts-nav .item-slide {
                height: 33.5vh; } }
            .principal .conteudo .container .slides .posts-nav .item-slide .card-post {
              height: 100%;
              border: 2px solid #222222;
              border-radius: 6px;
              transition: .5s; }
              .principal .conteudo .container .slides .posts-nav .item-slide .card-post:hover {
                border-color: #ED686B; }
                .principal .conteudo .container .slides .posts-nav .item-slide .card-post:hover .coments {
                  opacity: 1 !important; }
                .principal .conteudo .container .slides .posts-nav .item-slide .card-post:hover .over {
                  background: #00000061 !important; }
              .principal .conteudo .container .slides .posts-nav .item-slide .card-post .image {
                height: 70%;
                position: relative;
                background-size: cover;
                background-position: center;
                border-radius: 6px 6px 0px 0px; }
                .principal .conteudo .container .slides .posts-nav .item-slide .card-post .image .over {
                  transition: .5s;
                  background: transparent; }
                .principal .conteudo .container .slides .posts-nav .item-slide .card-post .image .play {
                  position: absolute;
                  left: 3%;
                  top: 6%; }
                  .principal .conteudo .container .slides .posts-nav .item-slide .card-post .image .play .circle {
                    background-color: white;
                    width: 33px;
                    height: 33px;
                    border-radius: 50%;
                    display: flex;
                    color: black;
                    font-size: 12px;
                    align-items: center;
                    justify-content: center; }
                .principal .conteudo .container .slides .posts-nav .item-slide .card-post .image .coments {
                  position: absolute;
                  bottom: 3%;
                  right: 3%;
                  opacity: 0;
                  transition: .5s;
                  display: flex;
                  align-items: center; }
                  .principal .conteudo .container .slides .posts-nav .item-slide .card-post .image .coments .icon {
                    width: 28px; }
                  .principal .conteudo .container .slides .posts-nav .item-slide .card-post .image .coments .p-com {
                    font-size: 16px; }
              .principal .conteudo .container .slides .posts-nav .item-slide .card-post .infos {
                padding: 4%; }
                .principal .conteudo .container .slides .posts-nav .item-slide .card-post .infos .categoria {
                  font-size: 9px;
                  color: #ED686B;
                  text-transform: uppercase; }
                  @media (min-width: 1800px) {
                    .principal .conteudo .container .slides .posts-nav .item-slide .card-post .infos .categoria {
                      font-size: 12px; } }
                .principal .conteudo .container .slides .posts-nav .item-slide .card-post .infos .title-navs {
                  font-size: 13px;
                  line-height: 17px; }
                  @media (min-width: 1800px) {
                    .principal .conteudo .container .slides .posts-nav .item-slide .card-post .infos .title-navs {
                      font-size: 16px;
                      line-height: 22px; } }
          .principal .conteudo .container .slides .posts-nav .slick-slide.slick-current.slick-active .item-slide {
            opacity: 1; }
        .principal .conteudo .container .slides .item-slide {
          height: 65vh;
          background-size: cover;
          background-position: center;
          border-radius: 8px 8px 0px 0px;
          overflow: hidden;
          border: 0px solid #000000e6; }
          @media (min-width: 1800px) {
            .principal .conteudo .container .slides .item-slide {
              height: 70vh; } }
          .principal .conteudo .container .slides .item-slide.grande {
            transition: .5s; }
            .principal .conteudo .container .slides .item-slide.grande:hover {
              border: 5px solid #ED686B; }
              .principal .conteudo .container .slides .item-slide.grande:hover .over {
                background: #00000061; }
                .principal .conteudo .container .slides .item-slide.grande:hover .over .play .circle {
                  background: #ED686B; }
          .principal .conteudo .container .slides .item-slide .over {
            background: transparent;
            height: 100%;
            transition: .5s; }
          .principal .conteudo .container .slides .item-slide .content {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
            height: 100%;
            padding: 4%;
            display: flex;
            align-items: end; }
            .principal .conteudo .container .slides .item-slide .content .infos {
              width: 70%; }
              @media (min-width: 1800px) {
                .principal .conteudo .container .slides .item-slide .content .infos {
                  width: 70%; } }
              .principal .conteudo .container .slides .item-slide .content .infos .play .circle {
                width: 60px;
                height: 60px;
                color: black;
                background: white;
                border-radius: 50%;
                transition: .5s;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 3%; }
              .principal .conteudo .container .slides .item-slide .content .infos .categoria {
                color: #ED686B;
                text-transform: uppercase;
                font-size: 12px;
                margin-bottom: 2% !important; }
              .principal .conteudo .container .slides .item-slide .content .infos p.title {
                font-size: 22px;
                line-height: 30px; }
                @media (min-width: 1800px) {
                  .principal .conteudo .container .slides .item-slide .content .infos p.title {
                    font-size: 26px; } }
        .principal .conteudo .container .slides .thumb-prev, .principal .conteudo .container .slides .thumb-next {
          position: absolute;
          bottom: 4px;
          right: 0;
          height: 88px;
          width: 9.5%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: all 0.3s ease;
          background: transparent; }
        .principal .conteudo .container .slides .thumb-prev {
          right: 9.5%; }

@media (max-width: 980px) {
  .principal .conteudo .container .slides {
    display: block; }
    .principal .conteudo .container .slides .posts, .principal .conteudo .container .slides .posts-nav {
      width: 100%; }

  .principal .conteudo .container .slides .item-slide {
    height: 40vh; }

  .principal .conteudo .container .slides .item-slide .content .infos {
    width: 100%; }

  .principal .conteudo .container .slides .item-slide .content .infos p.title {
    font-size: 18px;
    line-height: 25px; }

  .principal .header-cont .linha .topico2 {
    display: none; }

  .principal .header-cont .linha .topico3 {
    width: 40%;
    padding-right: 3%; }

  .principal .header-cont .linha .topico1 {
    width: 60%; }

  .titulo, .principal .header-cont .linha .topico1 p, .principal .header-cont .linha .topico1 p {
    font-size: 18px; }

  .principal .header-cont {
    padding: 2.5% 4%; }

  .principal .conteudo .container .slides .item-slide .content .infos .play .circle {
    width: 35px;
    height: 35px; }

  .principal .conteudo .container .slides .posts-nav {
    margin-top: 3%; }

  .principal .conteudo .container .slides .posts-nav .item-slide {
    margin-bottom: 1%; } }

/*# sourceMappingURL=style.css.map */
