
// cores utilizadas no site
$cinzaClaro: #707070;
$cinzaEscuro:#222222;
$cinzaHead: #333333;
$red: #ED686B;


p{
	margin-bottom: 0!important;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;

}
// classe modelo com o estilo do titulo
.titulo{
	font-size: 24px;
	line-height: 24px;
	color: $red;
	text-transform: uppercase;
	@media(min-width: 1800px){
		font-size: 28px;
	}
}
.principal{
	padding-left: 10%;
	padding-top: 3%;
	.forma{
		background: $cinzaClaro;
		width: 57%;
		position: absolute;
		left: 0;
		top: 0;
		height: 60vh;
	}
	.header-cont{
		background: $cinzaHead;
	    padding: 1% 0%;
	    border-radius: 8px;	
	    position: relative;	
	    margin: 0% 11% 0% 6%;
	    margin-bottom: -2%;
	    z-index: 10;	    	
		.linha{
			display: flex;
			align-items:center;

			.topico1{
				width: 74%;
				padding-left: 1.5%;
				p{
					@extend .titulo;
				}

				//como nós estamos trabalhando com varios dispositivos, eu achei melhor deixar o case principal para o menor disposivo de computador
				// logo em baixo esta um case para dispositivos maiores de 1800px
				@media(min-width: 1800px){
					width: 82%;
				}
			}
			.topico2{
				width: 13%;
				text-align: center;

				//como nós estamos trabalhando com varios dispositivos, eu achei melhor deixar o case principal para o menor disposivo de computador
				// logo em baixo esta um case para dispositivos maiores de 1800px
				@media(min-width: 1800px){
					width: 9%;
				}
				.botao{
					button{
					    width: 100%;
					    background: transparent;
					    color: white;
					    border: 1px solid white;
					    font-size: 14px;
					    padding: 10% 0%;
					    border-radius: 8px;
					    text-transform: uppercase;
					    transition: .5s;
					    opacity: .5;
					    &:hover{
					    	opacity: 1;
					    }

					}
				}
			}
			.topico3{
				width: 13%;
				text-align: center;
				display: flex;
				justify-content:center;
				align-items:center;

				//como nós estamos trabalhando com varios dispositivos, eu achei melhor deixar o case principal para o menor disposivo de computador
				// logo em baixo esta um case para dispositivos maiores de 1800px
				@media(min-width: 1800px){
					width: 9%;

				}
				.arrows{
					display: block;
					width: 48px;
					height: 48px;
					margin: 1%;
					display: flex;
					align-items:center;
					justify-content:center;
					border-radius: 4px;
					background: #000000;
					color: white;
					opacity: .5;
					transition: .5s;
					cursor: pointer;
					&:hover{
						opacity: 1;
					}
				}
			}
		}
	}	
	.conteudo{
		padding: 4% 10.3% 1% 6%;
		position: relative;
		background: $cinzaEscuro;
		border-radius: 8px 0px 0px 8px;
		position: relative;
		color: white;
		.container{
		    max-width: 100%;	
			.slides {
			  display: flex;
			  flex-direction: row;
			  justify-content: center;
			  box-sizing: border-box;
			  position: relative;
			  	.slick-track{
			  		position: relative;
			  	}
				.thumb-prev,
				.thumb-next {
				  bottom: 12px !important;
				  right: calc(9% + 0.75em) !important;
				}
				.thumb-prev {
				  right: calc(0% + 0.75em) !important;
				}  
				.posts {
				  width: 70%;
				  
				}	
				.posts-nav {
				  width: 29%;
				  margin-left: 2%;
				  margin-top: -2px;

					.item-slide {

						//como nós estamos trabalhando com varios dispositivos, eu achei melhor deixar o case principal para o menor disposivo de computador
						// logo em baixo esta um case para dispositivos maiores de 1800px
						@media(min-width: 1800px){
							height: 33.5vh;
						}
					  height: 31.5vh;
					  margin-bottom: 6%;
					  
					  
					  transition: all 0.3s ease;
					  cursor: pointer;
					  background: $cinzaHead;
					  border: none;
					  border-radius: 0px 0px 6px 6px;
					  .card-post{
					  	height: 100%;
					  	border: 2px solid $cinzaEscuro;
					  	border-radius: 6px ;
					  	transition: .5s;
					  	&:hover{
					  		border-color: $red;
					  		.coments{
					  			opacity: 1!important;
					  		}
					  		.over{
					  			background: #00000061!important;
					  		}
					  	}
					  	.image{
					  		height: 70%;
					  		position: relative;
					  		background-size: cover;
					  		background-position: center;
					  		border-radius: 6px 6px 0px 0px;
					  		.over{
					  			transition: .5s;
					  			background: transparent;
					  		}
					  		.play{
					  			position: absolute;
					  			left: 3%;
					  			top: 6%;
					  			.circle{
					  				background-color: white;
					  				width: 33px;
					  				height: 33px;
					  				border-radius: 50%;
					  				display: flex;
					  				color: black;
					  				font-size: 12px;
					  				align-items: center;
					  				justify-content:center;
					  			}
					  		}
					  		.coments{
					  			position: absolute;
					  			bottom: 3%;
					  			right: 3%;
					  			opacity: 0;
					  			transition: .5s;
					  			display: flex;
					  			align-items:center;
					  			.icon{
					  				width: 28px;
					  			}
					  			.p-com{
					  				font-size: 16px;
					  			}
					  		}

					  	}
				  		.infos{
				  			padding: 4%;
				  			.categoria{
				  				font-size: 9px;
				  				color: $red;
				  				text-transform: uppercase;

				  				//como nós estamos trabalhando com varios dispositivos, eu achei melhor deixar o case principal para o menor disposivo de computador
				  				// logo em baixo esta um case para dispositivos maiores de 1800px
				  				@media(min-width: 1800px){
				  					font-size: 12px;
				  				}
				  			}
				  			.title-navs{
				  				font-size: 13px;
				  				line-height: 17px;

				  				//como nós estamos trabalhando com varios dispositivos, eu achei melhor deixar o case principal para o menor disposivo de computador
				  				// logo em baixo esta um case para dispositivos maiores de 1800px
				  				@media(min-width: 1800px){
					  				font-size: 16px;
					  				line-height: 22px;				  					
				  				}
				  			}
				  		}					  	
					  }
					}
					.slick-slide.slick-current.slick-active .item-slide {
			  			opacity: 1;
					}

				}
				.item-slide {
				  
				  height: 65vh;
				  background-size: cover;
				  background-position: center;
				  border-radius: 8px 8px 0px 0px;
				  overflow: hidden;
				  border: 0px solid #000000e6;

				  //como nós estamos trabalhando com varios dispositivos, eu achei melhor deixar o case principal para o menor disposivo de computador
				  // logo em baixo esta um case para dispositivos maiores de 1800px
				  @media(min-width: 1800px){
				  	height: 70vh;
				  }
				  &.grande{
				  	transition: .5s;
				  	&:hover{
				  		border: 5px solid $red;
					  	.over{
					  		background: #00000061;
					  		
					  		.play{
					  			.circle{
					  				background: $red;
					  			}
					  		}
					  	}				  		
				  	}
				  }
				  .over{
				  	background: transparent;
				  	height: 100%;
				  	transition: .5s;
				  	
				  }
				  .content{
				  	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
				  	height: 100%;
				  	padding: 4%;
				  	display: flex;
				  	align-items:end;
				  	.infos{
				  		width: 70%;

				  		//como nós estamos trabalhando com varios dispositivos, eu achei melhor deixar o case principal para o menor disposivo de computador
				  		// logo em baixo esta um case para dispositivos maiores de 1800px
				  		@media(min-width: 1800px){
				  			width: 70%;
				  		}
				  		.play{
				  			.circle{
				  				width: 60px;
				  				height: 60px;
				  				color: black;
				  				background: white;
				  				border-radius: 50%;
				  				transition: .5s;
				  				display: flex;
				  				justify-content:center;
				  				align-items:center;
				  				margin-bottom: 3%;

				  			}
				  		}
				  		.categoria{
				  			color: $red;
				  			text-transform: uppercase;
				  			font-size: 12px;
				  			margin-bottom: 2%!important;

				  		}
				  		p.title{
							font-size: 22px;
							line-height: 30px;	

							//como nós estamos trabalhando com varios dispositivos, eu achei melhor deixar o case principal para o menor disposivo de computador
							// logo em baixo esta um case para dispositivos maiores de 1800px

							@media(min-width: 1800px){
								font-size: 26px;
							}			  			
				  		}
				  	}
				  }
				}	
				.thumb-prev, .thumb-next{
					  position: absolute;
					  bottom: 4px;
					  right: 0;
					  height: 88px;
					  width: 9.5%;
					  text-align: center;
					  display: flex;
					  justify-content: center;
					  align-items: center;
					  cursor: pointer;
					  transition: all 0.3s ease;
					  background: transparent;		
				}
				.thumb-prev {
				  right: 9.5%;
				}	
			}			    
		}
	

	}
}

// estilos do mobile
@media(max-width: 980px){
	.principal .conteudo .container .slides{
		display: block;
		.posts, .posts-nav{
			width: 100%;
		}
	}
	.principal .conteudo .container .slides .item-slide{
		height: 40vh;
	}
	.principal .conteudo .container .slides .item-slide .content .infos{
		width: 100%;
	}
	.principal .conteudo .container .slides .item-slide .content .infos p.title{
		font-size: 18px;
		line-height: 25px;
	}
	.principal .header-cont .linha{
		// display: block;

		.topico2{
			display: none;
		}
	}
	.principal .header-cont .linha .topico3{
		width: 40%;
		padding-right: 3%;
	}
	.principal .header-cont .linha .topico1{
		width: 60%;
	}
	.titulo, .principal .header-cont .linha .topico1 p{
		font-size: 18px;
	}
	.principal .header-cont{
	    padding: 2.5% 4%;
	}
	.principal .conteudo .container .slides .item-slide .content .infos .play .circle{
		width: 35px;
		height: 35px;
	}

	.principal .conteudo .container .slides .posts-nav{
		margin-top: 3%;
	}
	.principal .conteudo .container .slides .posts-nav .item-slide{
		margin-bottom: 1%;
	}
}








